<manifest package="io.straas.android.media.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application>
        <activity
            android:name="io.straas.android.media.demo.StraasPlayerActivity"
            android:exported="false"
            android:label="MediaCore - Video list &amp; Playlist"
            android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.media.demo.OperationActivity"
            android:exported="false"
            android:label="MediaCore - Operation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.media.demo.StraasPlayerViewCustomizationActivity"
            android:exported="false"
            android:label="MediaCore - Player view customization"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.media.demo.LiveDanmakuActivity"
            android:exported="false"
            android:label="MediaCore - Live stream + Danmaku"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.media.demo.MediaCoreHostActivity"
            android:exported="false"
            android:label="MediaCore - Custom domain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.media.demo.OperationHostActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".MediaCoreHostActivity"/>

        <activity
            android:name="io.straas.android.media.demo.StraasPlayerHostActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".MediaCoreHostActivity"/>
    </application>
</manifest>
