<manifest package="io.straas.android.sdk.demo.qrcode"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
        android:name="io.straas.android.sdk.demo.qrcode.QrcodeActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
