<manifest package="io.straas.android.sdk.circall.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="io.straas.android.sdk.circall.demo.SingleVideoCallTokenViewActivity"
                  android:screenOrientation="portrait"
                  android:label="CirCall - 1:1 conferencing"
                  android:launchMode="singleTop"
                  android:theme="@style/CircallWelcomeTheme"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity android:name="io.straas.android.sdk.circall.demo.SingleVideoCallActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
                  android:parentActivityName="io.straas.android.sdk.circall.demo.SingleVideoCallTokenViewActivity"/>

        <activity android:name="io.straas.android.sdk.circall.demo.IPCamBroadcastingHostTokenViewActivity"
                  android:screenOrientation="portrait"
                  android:label="CirCall - IPCam broadcasting host"
                  android:launchMode="singleTop"
                  android:theme="@style/CircallWelcomeTheme"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity android:name="io.straas.android.sdk.circall.demo.IPCamBroadcastingHostActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
                  android:parentActivityName="io.straas.android.sdk.circall.demo.IPCamBroadcastingHostTokenViewActivity"/>

        <activity android:name="io.straas.android.sdk.circall.demo.IPCamBroadcastingViewerTokenViewActivity"
                  android:screenOrientation="portrait"
                  android:label="CirCall - IPCam broadcasting viewer"
                  android:launchMode="singleTop"
                  android:theme="@style/CircallWelcomeTheme"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity android:name="io.straas.android.sdk.circall.demo.IPCamBroadcastingViewerActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
                  android:parentActivityName="io.straas.android.sdk.circall.demo.IPCamBroadcastingViewerTokenViewActivity"/>
    </application>
</manifest>

