<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.straas.android.sdk.demo">

    <application android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:theme="@style/AppTheme">
        <activity android:name="io.straas.android.sdk.demo.StraasDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="io.straas.android.media.demo.StraasPlayerActivity"
                  android:label="MediaCore - VideoList"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity android:name="io.straas.android.media.demo.OperationActivity"
                  android:label="MediaCore - Operation"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity android:name="io.straas.android.media.demo.StraasPlayerViewCustomizationActivity"
                  android:label="MediaCore - Player view customization"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity android:name="io.straas.android.media.demo.LiveDanmakuActivity"
                  android:label="MediaCore - Live stream + Danmaku"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity android:name="io.straas.android.sdk.messaging.demo.MainActivity"
                  android:label="Messaging SDK demo"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity android:name="io.straas.android.sdk.messaging.demo.ECommerceActivity"
                  android:label="Messaging E-Commerce demo"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:screenOrientation="portrait"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity android:name="io.straas.android.sdk.streaming.demo.camera.MainActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
                  android:screenOrientation="portrait"
                  android:label="Streaming SDK demo"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.sdk.streaming.demo.qrcode.QrcodeActivity"
            android:parentActivityName="io.straas.android.sdk.streaming.demo.camera.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name="io.straas.android.sdk.streaming.demo.screencast.ScreencastSettingsActivity"
                  android:theme="@style/ScreencastSettingsTheme"
                  android:windowSoftInputMode="adjustResize"
                  android:screenOrientation="portrait"
                  android:label="Streaming SDK demo - Screencast"
                  android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <meta-data
                  android:name="io.straas.android.sdk.streaming.SCREENCAST_SESSION_CLASS_NAME"
                  android:value="io.straas.android.sdk.streaming.demo.screencast.MyScreencastSession"/>
    </application>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

</manifest>
