<manifest package="io.straas.android.sdk.streaming.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <activity
            android:name="io.straas.android.sdk.streaming.demo.camera.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:label="Streaming SDK demo"
            android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.sdk.streaming.demo.camera.ConfigSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="Streaming SDK demo - Custom configuration"
            android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.sdk.streaming.demo.camera.CameraCustomConfigActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:parentActivityName="io.straas.android.sdk.streaming.demo.camera.ConfigSettingActivity"/>

        <activity
            android:name="io.straas.android.sdk.streaming.demo.camera.StreamingFiltersActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"
            android:label="Streaming SDK demo - Filters"
            android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.sdk.streaming.demo.screencast.ScreencastSettingsActivity"
            android:exported="false"
            android:theme="@style/ScreencastSettingsTheme"
            android:windowSoftInputMode="adjustResize"
            android:label="Streaming SDK demo - Screencast"
            android:parentActivityName="io.straas.android.sdk.demo.StraasDemoActivity"/>

        <activity
            android:name="io.straas.android.sdk.demo.qrcode.QrcodeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="io.straas.android.sdk.streaming.SCREENCAST_SESSION_CLASS_NAME"
            android:value="io.straas.android.sdk.streaming.demo.screencast.MyScreencastSession"/>
    </application>

</manifest>
